RewriteOptions inherit
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch
RewriteEngine On

## Force HTTP to HTTPS ##
#RewriteCond %{HTTPS} !=on
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE] 

RewriteRule ^404/?$ 404.php [NC,L]

#RewriteRule ^apanel/?$ apanel/index.php [NC,L]
RewriteRule ^index/?$ index.php [NC,L]

RewriteRule ^client?$ client/index.php [NC,L]

RewriteRule ^customer-portal/?$ customer_portal.php [NC,L]
RewriteRule ^family-question/?$ family_question.php [NC,L]
RewriteRule ^family-question-dependent/?$ family_question_dependent.php [NC,L]
RewriteRule ^documents/?$ documents.php [NC,L]
RewriteRule ^thank-you/?$ thank_you.php [NC,L]
RewriteRule ^privacy-policy/?$ privacy_policy.php [NC,L]
RewriteRule ^logout/?$ logout.php [NC,L]
RewriteRule ^review/?$ review.php [NC,L]
RewriteRule ^review/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ review.php?taxApplicationID=$1&mode=$2 [NC,L]

RewriteRule ^download/?$ download.php [NC,L]
RewriteRule ^download/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ download.php?taxApplicationID=$1&mode=$2 [NC,L]

RewriteRule ^signup/?$ signup.php [NC,L]
RewriteRule ^signup/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ signup.php?fran=$1&prep=$2 [NC,L]
RewriteRule ^process-signup/?$ signup_db.php [NC,L]
RewriteRule ^confirmation/?$ confirmation.php [NC,L]
RewriteRule ^process-confirmation/?$ confirmation_db.php [NC,L]
RewriteRule ^login/?$ login.php [NC,L]
RewriteRule ^process-login/?$ login_db.php [NC,L]
RewriteRule ^forgot-password/?$ forgot_password.php [NC,L]
RewriteRule ^process-forgot-password/?$ forgot_password_db.php [NC,L]
RewriteRule ^reset-password/?$ reset_password.php [NC,L]
RewriteRule ^process-reset-password/?$ reset_password_db.php [NC,L]

RewriteRule ^change-username/?$ change_username.php [NC,L]
RewriteRule ^process-change-username/?$ change_username_db.php [NC,L]
RewriteRule ^change-password/?$ change_password.php [NC,L]
RewriteRule ^process-change-password/?$ change_password_db.php [NC,L]
RewriteRule ^change-profile/?$ change_profile.php [NC,L]
RewriteRule ^process-change-profile/?$ change_profile_db.php [NC,L]
RewriteRule ^change-contact/?$ change_contact.php [NC,L]
RewriteRule ^process-change-contact/?$ change_contact_db.php [NC,L]

RewriteRule ^tax-application/?$ tax_application.php [NC,L]
RewriteRule ^process-tax-application/?$ tax_application_db.php [NC,L]
RewriteRule ^tax-application-client/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ tax_application_client.php?fran=$1&prep=$2 [NC,L]
RewriteRule ^process-tax-application-client/?$ tax_application_client_db.php [NC,L]
RewriteRule ^personal-information/?$ personal_information.php [NC,L]
RewriteRule ^process-personal-information/?$ personal_information_db.php [NC,L]
RewriteRule ^address/?$ address.php [NC,L]
RewriteRule ^process-address/?$ address_db.php [NC,L]
RewriteRule ^identification-information/?$ identification_information.php [NC,L]
RewriteRule ^process-identification-information/?$ identification_information_db.php [NC,L]
RewriteRule ^tax-pin/?$ tax_pin.php [NC,L]
RewriteRule ^process-tax-pin/?$ tax_pin_db.php [NC,L]

RewriteRule ^tax-application/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ tax_application.php?taxApplicationID=$1&mode=$2 [NC,L]
RewriteRule ^personal-information/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ personal_information.php?taxApplicationID=$1&mode=$2 [NC,L]
RewriteRule ^address/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ address.php?taxApplicationID=$1&mode=$2 [NC,L]
RewriteRule ^identification-information/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ identification_information.php?taxApplicationID=$1&mode=$2 [NC,L]
RewriteRule ^tax-pin/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ tax_pin.php?taxApplicationID=$1&mode=$2 [NC,L]

RewriteRule ^spouse-information/?$ spouse_information.php [NC,L]
RewriteRule ^process-spouse-information/?$ spouse_information_db.php [NC,L]
RewriteRule ^spouse-address/?$ spouse_address.php [NC,L]
RewriteRule ^process-spouse-address/?$ spouse_address_db.php [NC,L]
RewriteRule ^spouse-identification-information/?$ spouse_identification_information.php [NC,L]
RewriteRule ^process-spouse-identification-information/?$ spouse_identification_information_db.php [NC,L]
RewriteRule ^spouse-occupation/?$ spouse_occupation.php [NC,L]
RewriteRule ^process-spouse-occupation/?$ spouse_occupation_db.php [NC,L]
RewriteRule ^spouse-tax-pin/?$ spouse_tax_pin.php [NC,L]
RewriteRule ^process-spouse-tax-pin/?$ spouse_tax_pin_db.php [NC,L]

RewriteRule ^spouse-information/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ spouse_information.php?taxApplicationID=$1&spouseID=$2&mode=$3 [NC,L]
RewriteRule ^spouse-address/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ spouse_address.php?taxApplicationID=$1&spouseID=$2&mode=$3 [NC,L]
RewriteRule ^spouse-identification-information/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ spouse_identification_information.php?taxApplicationID=$1&spouseID=$2&mode=$3 [NC,L]
RewriteRule ^spouse-occupation/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ spouse_occupation.php?taxApplicationID=$1&spouseID=$2&mode=$3 [NC,L]
RewriteRule ^spouse-tax-pin/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ spouse_tax_pin.php?taxApplicationID=$1&spouseID=$2&mode=$3 [NC,L]

RewriteRule ^dependents-information/?$ dependents_information.php [NC,L]
RewriteRule ^dependents-information/([A-Za-z0-9-_]+)/?$ dependents_information.php?id=$1 [NC,L]
RewriteRule ^dependents-information/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ dependents_information.php?id=$1&back=$2 [NC,L]
RewriteRule ^process-dependents-information/?$ dependents_information_db.php [NC,L]
RewriteRule ^process-dependents-information/([A-Za-z0-9-_]+)/?$ dependents_information_db.php?mode=$1 [NC,L]
RewriteRule ^dependent/?$ dependent.php [NC,L]
RewriteRule ^process-dependent/?$ dependent_db.php [NC,L]
RewriteRule ^process-dependent/([A-Za-z0-9-_]+)/?$ dependent_db.php?mode=$1 [NC,L]

RewriteRule ^tax-documents-upload/?$ tax_documents_upload.php [NC,L]
RewriteRule ^process-tax-documents-upload/?$ tax_documents_upload_db.php [NC,L]
RewriteRule ^tax-documents-upload-model/([A-Za-z0-9-_]+)/?$ tax_documents_upload_model.php?taxApplicationID=$1 [NC,L]
RewriteRule ^process-tax-documents-upload-model/?$ tax_documents_upload_model_db.php [NC,L]
RewriteRule ^tax-documents/?$ tax_documents.php [NC,L]
RewriteRule ^process-tax-documents/?$ tax_documents_db.php [NC,L]

RewriteRule ^sign-your-application/?$ sign_your_application.php [NC,L]
RewriteRule ^process-sign-your-application/?$ sign_your_application_db.php [NC,L]

RewriteRule ^chat/([A-Za-z0-9-_]+)/?$ chat.php?threadID=$1 [NC,L]
RewriteRule ^process-chat/?$ chat_db.php [NC,L]

RewriteRule ^tickets/?$ tickets.php [NC,L]
RewriteRule ^create-ticket/?$ create_ticket.php [NC,L]
RewriteRule ^process-create-ticket/?$ create_ticket_db.php [NC,L]
RewriteRule ^ticket-information/([A-Za-z0-9-_]+)/?$ ticket_information.php?ticketID=$1 [NC,L]
RewriteRule ^process-ticket-information/?$ ticket_information_db.php [NC,L]

RewriteRule ^health-username/?$ health_username.php [NC,L]
RewriteRule ^process-health-username/?$ health_username_db.php [NC,L]
RewriteRule ^health-password/?$ health_password.php [NC,L]
RewriteRule ^process-health-password/?$ health_password_db.php [NC,L]
RewriteRule ^health-disclaimer/?$ health_disclaimer.php [NC,L]
RewriteRule ^process-health-disclaimer/?$ health_disclaimer_db.php [NC,L]



## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access 1 month"
ExpiresByType image/jpeg "access 1 month"
ExpiresByType image/gif "access 1 month"
ExpiresByType image/png "access 1 month"
ExpiresByType image/webp "access 1 month"
ExpiresByType text/css "access 1 month"
ExpiresByType application/pdf "access 1 month"
ExpiresByType text/x-javascript "access 1 month"
ExpiresByType text/javascript "access 1 month"
ExpiresByType application/x-shockwave-flash "access 1 month"
ExpiresByType image/x-icon "access 1 year"
ExpiresDefault "access 1 month"
</IfModule>
## EXPIRES CACHING ##